*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --text-color: #fff;  
  --bg-color: #1b1f24;
  --second-bg-color: #22282f;
  --main-color: #13bbff; 
  --other-color: #c3cad5;
  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
